@import './../../style/common.scss';
$color:#f60;

.demo {
  width: 60%;
  margin: 0 auto;
  background-color: #fff;

  .title {
    background-color: $color;
  }

  ul {
    list-style-type: none;
  }

  .list {
    li {
      color: $color;
    }
  }

  .img {
    width: 100px;
    height: 100px;
    background-image: url(/static/imgs/bag_logo.png);
  }
}